//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.02
//Part Number: GW5AT-LV60PG484AC1/I0
//Device: GW5AT-60
//Device Version: B
//Created Time: Thu 11 21 17:46:42 2024

IO_LOC "tft_rst_n" C19;
IO_PORT "tft_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "tft_bl" F19;
IO_PORT "tft_bl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "tft_de" E17;
IO_PORT "tft_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "tft_clk" D15 exclusive;
IO_PORT "tft_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "vsync" F14;
IO_PORT "vsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "hsync" D16;
IO_PORT "hsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[15]" D14;
IO_PORT "rgb_tft[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[14]" A18;
IO_PORT "rgb_tft[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[13]" D17;
IO_PORT "rgb_tft[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[12]" B17;
IO_PORT "rgb_tft[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[11]" B21;
IO_PORT "rgb_tft[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[10]" E19;
IO_PORT "rgb_tft[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[9]" D20;
IO_PORT "rgb_tft[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[8]" F15;
IO_PORT "rgb_tft[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[7]" F16;
IO_PORT "rgb_tft[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[6]" F13;
IO_PORT "rgb_tft[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[5]" E16;
IO_PORT "rgb_tft[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[4]" A19;
IO_PORT "rgb_tft[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[3]" C17;
IO_PORT "rgb_tft[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[2]" A20;
IO_PORT "rgb_tft[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[1]" B18;
IO_PORT "rgb_tft[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "rgb_tft[0]" A21;
IO_PORT "rgb_tft[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "CS" C20;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "SCL" C18;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "SDA" D19;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 OPEN_DRAIN=OFF BANK_VCCIO=3.3;
IO_LOC "sys_rst_n" AA13;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
//IO_LOC "sys_clk" V22;
//IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//CLOCK_LOC "sys_clk" LOCAL_CLOCK;